@import "tailwindcss";

@theme {
  --color-brand-light: var(--color-slate-100);
  --color-brand-blue: var(--color-blue-600);
  --color-brand-dark: var(--color-slate-900);
}

@layer base {
  body {
    @apply bg-slate-50 text-brand-dark antialiased;
  }
}
